@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #fff;
    font-family: 'Rowdies', sans-serif;
}

.container img {
    width: 100px;
    border-radius: 5px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 1rem;
    transition: all 1s ease;
}
.header h1{
    margin-bottom: 1rem;
}
.dice{
    text-align: center;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-custom{
    border: 1px solid #fff;
    padding: 0.4rem 0.8rem;
    background: transparent;
    color: #fff;
    border-radius: 5px;
    border: 1px solid white;
    justify-self: center;
    margin: 5rem 0.3rem 1rem 0.3rem;
    min-width: 70px;
    cursor: pointer;
}
.btn-custom:hover{
    opacity:0.9;
}
.btn-custom:disabled{
    color: gray;
    border: 1px solid gray;
}

.match{
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
}
.match .player,
.match .computer{
    text-align: center;
}
.match .message{
    align-self: center;
    margin-top: 50px;
    text-align: center;
}

.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}

div.fadeOut{
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}

div.fadeIn{
    opacity: 1;
    pointer-events: all;
    transition: opacity 1s ease 1s;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}
.btn-block{
    width:60%;
}
.btn-opt{
    margin-top:0.5rem;
}

.header{
    transform: scale(2) translateY(100px);
    transition: transform 1s ease-out;
}
.intro{
    margin-top:150px;
    text-align: center;
}


.moveheader{
    transform: scale(1) translateY(0px);
}

.game-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.end-game{
    opacity:0;
    pointer-events: none;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.social i {
    padding: 0.4rem;
    border-radius: 50%;
    border: 1px solid #fff;
    min-width: 35px;
    margin: 3rem 0.4rem;
    cursor: pointer;
}
.social i:hover{
    background-color: #fff;
    color:black;
}
a{
    text-decoration: none;
    color: #fff;
}
.shake{
    animation: shake 3s;
}

.yamb-game{
    opacity:0;
    pointer-events: none;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.yamb{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}



@media(max-height:700px){

    .end-game, .game{
        top:65%;
    }
    .yamb-game, .game-options{
        top:70%;
    }
    
}
@media(max-height: 600px){
     .end-game, .game{
        top:70%;
    }
    .yamb-game, .game-options{
        top:80%;
    }
    
}
@media(max-height: 450px){
     .end-game, .game{
        top:90%;
    }
    .yamb-game, .game-options{
        top:100%;
    }
}

@media(max-height: 380px){
    .end-game, .game{
       top: 100%;
    }
    .yamb-game, .game-options {
        top:120%;
    }
}

@media(max-height: 320px){
    .end-game, .game{
        top: 120%;
     }
     .yamb-game, .game-options{
        top:140%;
    }
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-5deg); }
    20% { transform: translate(-3px, 0px) rotate(5deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(5deg); }
    50% { transform: translate(-1px, 2px) rotate(-5deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-5deg); }
    80% { transform: translate(-1px, -1px) rotate(5deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-5deg); }
  }
